<div class="positions-found-box">
    <% @results.each do |position| %>
        <div class="found-box">
            <h3><%= position.title %></h3><br>
            <h4><%= position.company %>-</h4>
        </div>
    <% end %>
</div>