<% if current_user %>
    <header class="current_user_header">
            <div class="col-xs-8">
            <div>
                <img src="/assets/images/magiclogo.png" class="img-logo">
            </div>

            <ul class="main-nav">
                <li><%= link_to "All Jobs", positions_path%></li>
                <li>Post a job</li>
            </ul>
            </div>
    </header>
<% else  %>
    <header class="non_user_header">
        <div>
            <img src="images/magiclogo.png" class="img-logo">
            <h1><%= link_to "Magic Job Portal", root_path %></h1>
        </div>
    </header>
<% end %>